.RegisterPanel {
  text-align: center;
  margin-top: 2em;
}

.RegisterPanel .RegisterButton {
  margin-top: 2em;
}

.webview-loading #AnchorDepositIFrame {
  opacity: 0;
}

.DepositDialog.done #AnchorDepositIFrame {
  display: none;
}

.bp3-overlay-backdrop.plaid {
  background-color: rgba(16, 22, 26, 0);
  transition: background-color ease 350ms;
}

#AnchorDepositIFrame {
  width: 360px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 250px;
}

.plaid #AnchorDepositIFrame {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.DepositDialog {
  position: relative;
  min-height: 536px;
}

.bp3-dialog-body > .AnchorSpinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.select-region {
  margin-top: 20px;
}

.select-region span.state-label {
  display: inline-block;
  margin-bottom: 5px;
}

.bp3-button.select-button {
  width: 330px;
  padding: 10px;
  margin-bottom: 1em;
}

.bp3-portal .bp3-overlay .bp3-menu {
  height: 350px;
  width: 330px;
  overflow-y: scroll;
}

.SubscribeForm {
  margin-top: 40px;
}
