.Balances .single-balance {
  font-weight: 500;
  height: 70px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(90, 103, 112, 0.50);
  margin-bottom: 0;
  padding: 1em 0;
  display: flex;
}

.Balances .single-balance:last-child {
  border-bottom: none;
  padding-bottom: 0;
  height: calc(70px - 1em);
}

.Balances .single-balance .asset {
  width: 50px;
}

.Balances .single-balance .actions {
  width: 100px;
}

.Balances .single-balance .info {
  flex: 1;
}

.Balances .single-balance .subtitle {
  margin-left: 0;
  display: block;
  height: 1.65em;
}

.Balances .single-balance .actions .bp3-button {
  line-height: 25px;
  margin-left: 1em;
  width: 75px;
  float: right;
}

@keyframes color-change {
  0% { color: #f5f8fa; }
  20% { color: #aaaaaa; }
  100% { color: #f5f8fa; }
}

.PulseBalance {
  animation: color-change 1s 1 ease;
}
