.Balances .single-balance {
  display: block;
  margin: 0;
  padding: 0;
}

.Balances .single-balance .bp3-heading {
  vertical-align: middle;
  font-weight: 500;
  display: flex;
  height: 70px;
  padding: 1em 0;
  margin: 0;
  border-bottom: 1px solid rgba(90, 103, 112, 0.50);
}

.Balances .single-balance:last-child .bp3-heading {
  border-bottom: none;
  height: calc(70px - 1em);
  padding-bottom: 0;
}

.sparkswap .Balances .bp3-heading a {
  display: inherit;
}

.sparkswap .Balances .bp3-heading > a,
.sparkswap .Balances .bp3-heading > a:hover,
.sparkswap .Balances .bp3-heading > a:active {
  text-decoration: none;
  opacity: 1;
}

.Balances .single-balance .asset {
  width: 50px;
}

.Balances .single-balance .bp3-heading .actions {
  width: 100px;
  text-align: right;
}

.Balances .single-balance .actions .bp3-button {
  line-height: 25px;
  margin-left: 1em;
  width: 75px;
  float: right;
}

.Balances .single-balance .bp3-heading a {
  flex: 1;
}

.Balances .single-balance .subtitle {
  margin-left: 0;
  display: block;
  height: 1.65em;
}
