.History {
  /** 36px is to account for the export-row **/
  height: calc(100% - 36px);
  overflow-y: scroll;
}

.History .bp3-non-ideal-state {
  height: 100%;
}

.History .bp3-card.transaction {
  display: flex;
  padding: 15px 20px 15px 18px;
  background-color: rgba(48, 64, 77, 0.4);
}

.History .transaction:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.History .transaction:not(:last-of-type) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.History .transaction>* {
  flex: 1;
}

.History .transaction>.bp3-icon,
.History .transaction>.bp3-spinner {
  max-width: 18px;
  margin-right: 12px;
}

.History .transaction>.bp3-icon {
  margin-top: 9px;
}

.History .transaction .bp3-heading {
  /* align all elements of the card */
  line-height: 18px;
  margin-bottom: 0;
}

.History .transaction .bp3-heading .subtitle {
  margin-left: 0;
}

.History .transaction.trade .price .subtitle {
  margin-right: 0.5em;
}

.History .transaction .amounts {
  text-align: right;
}

.export-row {
  width: 100%;
  text-align: right;
}

.export-row .export-button {
  padding-bottom: 15px;
}
