.main-content-tabs {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.main-content-tabs .bp3-tab-list {
  position: absolute;
  top: 0;
  left: 0;
}

.main-content-tabs .bp3-tab {
  margin-right: 8px;
}

.main-content-tabs .bp3-tab.history-tab {
  /* room for the status indicator of 21px */
  margin-right: 29px;
}

.main-content-tabs .bp3-tab.history-tab.new-history {
  margin-right: 8px;
}

.main-content-tabs .bp3-tab-panel {
  margin-top: 0;
  height: calc(100%);
  width: 100%;
}

.main-content-tabs .main-content-spinner .bp3-spinner {
  position: relative;
  top: 50%;
  margin-top: -72px;
}
