.RegisterPanel {
  text-align: center;
  margin-top: 2em;
}

.RegisterPanel .RegisterButton {
  margin-top: 2em;
}

.webview-loading #AnchorDepositIFrame {
  opacity: 0;
}

.bp3-overlay-backdrop.plaid {
  background-color: rgba(16, 22, 26, 0);
  transition: background-color ease 350ms;
}

#AnchorDepositIFrame {
  width: 360px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 250px;
}

.plaid #AnchorDepositIFrame {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.DepositDialog {
  position: relative;
  min-height: 536px;
}

.AnchorSpinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: -100px;
}
